include testSRS.py
include testd.py
include pysrs.html
include envfrom2srs.py
include srs2envtol.py
include pysrs.py
include SocketMap.py
include setup.py
include setup.cfg
include pysrs.cfg
include pysrs.rc
include pysrs.rc7
include *.m4
include pysrs.spec
include CHANGES
include COPYING
include LICENSE.python
include LICENSE.sendmail
